body
{
    background-color: #EFF0F3 !important;
}
.container
{
    margin-top: 50px;
    width: 25% !important;
}
form
{
    background: #2FCC9A;
    border: 2px solid #22Be6c;
    border-radius: 10px;
    padding: 20px 10px;
}

#task
{
}
.to-do-btn
{
    margin-left: -9px;
}